.App {
  text-align: center;
}

.image_class{
  width: 50%;
}

.image_internal_class{
  width: 100%;
  display:block;
  max-height: 60%;
}

table {
  table-layout: fixed;
  width: 50%;

}

h1{
font: italic 1.6rem;
font-family: 'Oooh Baby', cursive;
color: black;
}

td{
  font: italic 1.4rem Brush Script MT, bold, sans-serif;
}
body{
  background-color: #DAE2B6;
}
